tr{
    height: 20px;
    width: 40px;
}
#T1{
    border-collapse: separate;
    caption-side: top;
    empty-cells: hide;
}
#T2{
    caption-side: bottom;
    border-collapse: separate;
    empty-cells: show;
}
#T3{
    border-collapse: collapse;
    caption-side: top;
    empty-cells: hide;
}
#T4{
    border-collapse: collapse;
    caption-side: bottom;
    empty-cells: show;
}